body {
  font-family: "Open Sans", sans-serif; }

h1, h2, h3 {
  font-family: "Lobster", cursive; }

h2 {
  color: #3046C5; }

header h2 {
  color: #afafaf; }

.site-footer {
  background-image: linear-gradient(#ff0000, rgb(160, 160, 160));
  padding: 20px 0; }

.jumbotron {
  padding: 30px;
  background-image: linear-gradient(to right, #ff0000, #ac0202, #000000);
  color: white;
  margin: 0; }

.row-content {
  padding: 50px ;
  border-bottom: 1px ridge;
  min-height: 200px; }

.nav-tabs {
  background-image: linear-gradient(to right, #ff0000, #ac0202, #000000); }

.tab-content {
  border: 1px solid #DDD;
  border-top: none;
  padding: 10px; }

a, a:hover {
  color: black;
  text-decoration: none; }


.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5); }



#carouselButton {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 100; }

#reserveModal .modal-header {
  background-color: #17A2B8;
  color: white; }

#loginModal .modal-header {
  background-color: #901CAD;
  color: white; }
.card {
    padding-top: 10px;
	border: #000000;
	border: thin;
}

